<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sophieCalc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F955F3C1E3E145D00F4BEA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F955F501E3E145E00F4BEA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F955F5B1E3E145E00F4BEA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
